@font-face {
    font-family: "trebuchetms";
    src: local('TrebuchetMS'),
    url('../assets/fonts/TrebuchetMS.eot'),
    url('../assets/fonts/trebuchetms.ttf') format("truetype");;
  }
  @font-face {
    font-family: "Exo2";
    
    src: url('../assets/fonts/Exo2-Thin.ttf');
  }