@import "./variables";
@import-normalize;
@import "./_fonts";
@import "./components/Card";

* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 14px;

  box-sizing: border-box;

  body {
    font-family: "trebuchetms";
    background-image: url("../assets/img/Pattern.png");
    text-align: center;
    color: white;

    .wrapper {
      width: 100%;
      min-height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;

      .content {
        padding: 50px 0;
        .main__title {
          font-family: "Exo2";
          font-size: 2.6rem;
          padding-bottom: 25px;
        }

        .card__items {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}
